<header id="header">
   <strong id="heading">codeial</strong>

    <ul id="signinup-button">
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out" id="sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/sign-in" id="sign-in">Sign In</a>
            </li>

            <li>
                <a href="/users/sign-up" id="sign-up">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>