<h1>Sign Up</h1>
<!-- Compare this snippet from views\user_sign_in.ejs: -->
<!-- <form action="/sign_in" method="post"> -->
<form action="/users/create" method="POST">
  <input type="text" name="username" placeholder="Your Name" required>
  <input type="email" name="email" placeholder="Your Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="confirm_password" placeholder="Confirm Password" required>
  <input type="submit" value="Sign Up">
</form>